<!DOCTYPE html>
<html>
<head>
	<title>Elements Add</title>
</head>
<body>
	<form id="form1">
		<table>
		<tr>
			<td>
				Element Name:
			</td>
			<td>
				<input type="text" name="" id="elementName">
			</td>
		</tr>
		<tr>
			<td>
				Atomic number:
			</td>
			<td>
				<input type="number" name="" id="atomNumber">
			</td>
		</tr>
		<tr>
			<td>
				Atomic mass:
			</td>
			<td>
				<input type="number" step="any" name="" id="atomMass">
			</td>
		</tr>
		<tr>
			<td>
				Electronegativity:
			</td>
			<td>
				<input type="number" step="any" name="" id="electonegative">
			</td>
		</tr>
		<tr>
			<td>
				Density:
			</td>
			<td>
				<input type="number" step="any" name="" id="density">
			</td>
		</tr>
		<tr>
			<td>
				Melting point:
			</td>
			<td>
				<input type="number" step="any" name="" id="meltPoint">
			</td>
		</tr>
		<tr>
			<td>
				Boiling point:
			</td>
			<td>
				<input type="number" step="any" name="" id="boilPoint">
			</td>
		</tr>
		<tr>
			<td>
				Vanderwaal's radius:
			</td>
			<td>
				<input type="number" step="any" name="" id="vRadius">
			</td>
		</tr>
		<tr>
			<td>
				Ionic radius:
			</td>
			<td>
				<input type="number" step="any" name="" id="ionRadius">
			</td>
		</tr>
		<tr>
			<td>
				Isotopes:
			</td>
			<td>
				<input type="text" name="" id="isotopes">
			</td>
		</tr>
		<tr>
			<td>
				Electronic shell:
			</td>
			<td>
				<input type="text" name="" id="eShell">
			</td>
		</tr>
		<tr>
			<td>
				Energy of first ionisation:
			</td>
			<td>
				<input type="text" name="" id="energyFirstIon">
			</td>
		</tr>
		<tr>
			<td>
				Discovered by:
			</td>
			<td>
				<input type="text" name="" id="dicoverer">
			</td>
		</tr>
		<tr>
			<td>
				<button id="Submit">Submit</button>
			</td>	
		</tr>
	</table>

	</form>
    <h3 id="resultValue"></h3>
	<form id="form2">
		<table>
			<tr>
				<td>
					Model :
				</td>
				<td>
					<input type="file" name="elementModel" id="modelGltf">
				</td>
			</tr>
			<tr>
				<td>
					<button id="Submit2">Add</button>
				</td>
			</tr>
		</table>
	</form>
    <script src="js/appElementInfo.js"></script>
	<script src="js/appElementModel.js"></script>
</body>
</html>