<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicons -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom-responsive-style.css">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript" src="script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="script/all-plugins.js"></script>
    <script type="text/javascript" src="script/plugin-active.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body data-spy="scroll" data-target=".main-navigation" data-offset="150">
    <section id="MainContainer">
        <!-- Header starts here -->
        <header id="Header">
            <nav class="main-navigation">
                <div class="container clearfix">
                    <div class="site-logo-wrap">
                        <a class="logo" href="#"><h1 class="animated infinite heartBeat">Feel Reaction</h1></a>
                    </div>
                    <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
                    <div class="main-menu hidden-md-down">
                        <ul class="menu-list">
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">Our Team</a></li>
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#About">Experience AR</a></li>
                            <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu hidden-lg-up">
                    <ul class="mobile-menu-list">
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">Our Team</a></li>
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#About">Experience AR</a></li>
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Header ends here -->
		
        <!-- Banner starts here -->
        <section id="HeroBanner">
            <div class="hero-content">
                <h3 style="color: white">Welcome to the world of reactions</h3>
				<h1 style="color: white">DO KNOW ABOUT<span class="change_content"> </span></h1>
                <p>Don't just study,visualize reactions</p>
                <a href="#About" class="hero-cta nav-link">Get Started</a>
            </div>
        </section>
        <!-- Banner ends here -->
		<!-- About Us section starts here -->
        <section id="About">
            <div class="container">
                <div class="about-wrapper">
                    <h2>Experience AR</h2>
                    <p>Click on the Button below to get the experience of WEB AR. Learn chemistry in your own way , within few seconds chemical elements will be in your hands.Just give this a try.</p>
					<a href="/augmented-reality"><button class="GoAR">EXPERIENCE WebAR</button></a>
                    <a href="Markers/FEEL-REACTION-MARKERS.pdf" download><button class="downMarker">DOWNLOAD MARKERS</button></a>
                </div>
            </div>
        </section>


        <!-- Services section starts here -->
        <section id="Services">
            <div class="container">
                <div class="block-heading">
                    <h2 style="color: azure">Our Team</h2>
                    
                </div>
                <div class="services-wrapper">
                    <div class="each-service">
                        <img src="images/10.jpg" alt="">
						<h3>Swapnil Bhattacharya</h3>
						<p>Front end Developer</p>
						<p>
							<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://www.github.com"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
						</p>
                    </div>
                    <div class="each-service">
                        <img src="images/10.jpg" alt="">
						<h3>Suryanarayan Rath</h3>
						<p>Augmented Reality Developer</p>
						<p>
							<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://www.github.com"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
						</p>
                    </div>
                    <div class="each-service">
						<img src="images/10.jpg" alt="">
						<h3>Suman Mondal</h3>
						<p>Model Designer</p>
						<p>
							<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://www.github.com"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
						</p>
                    </div>
                    <div class="each-service">
                        <img src="images/10.jpg" alt="">
						<h3>Sumantra Pal</h3>
						<p>Backend end Developer</p>
						<p>
							<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://www.github.com"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
						</p>
                    </div>
                    <div class="each-service">
                       <img src="images/10.jpg" alt="">
						<h3>Dipasha Divyadarsini</h3>
						<p>Front end Developer</p>
						<p>
							<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://www.github.com"><i class="fa fa-github"></i></a>
							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
						</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section ends here -->
        
        
        <!-- Contact us section starts here -->
        <section id="ContactUs">
            <div class="container contact-container">
                <div class="contact-outer-wrapper">
                    <div class="address-block">
						<img scr="images/contact.png" style="width: 320px; height: auto">
                    </div>
                    <div class="form-wrap">
                        <p class="add-title">Send Us Message</p>
                        <form id="contactForm">
                            <div class="fname floating-label">
                                <input type="text" class="floating-input" name="full name" id="full-name-field" />
                                <label for="full-name-field">Full Name</label>
                            </div>
                            <div class="email floating-label">
                                <input type="email" class="floating-input" name="email" id="mail-field" />
                                <label for="mail-field">Email</label>
                            </div>
                            <div class="contact floating-label">
                                <input type="tel" class="floating-input" name="contact" id="contact-us-field" />
                                <label for="contact-us-field">Contact</label>
                            </div>
                            <div class="company floating-label">
                                <input type="text" class="floating-input" name="company" id="company-field" />
                                <label for="company-field">Company</label>
                            </div>
                            <div class="user-msg floating-label">
                                <textarea class="floating-input" name="user message" id="user-msg-field"></textarea>
                                <label for="user-msg-field" class="msg-label">Your Message</label>
                            </div>
                            <div class="submit-btn">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact us section ends here -->
        <!-- Footer section starts here -->
        <footer id="Footer">
            <div class="container">
                <div class="footer-logo-wrap">
                     Designed by <a href="#">Swapnil & Dipasha</a>
                </div>
            </div>
        </footer>
        <!-- Footer section ends here -->
    </section>
    <script src="js/appContact.js"></script>
</body>
</html>